<html>

<head>
    <title>
        <%= title%>
    </title>
</head>

<body>
    <p><strong>Welcome to </strong><strong><%= title%>.</strong></p>

    <p>Thanks for signing to Gruberr.</p>
    <p>
        <%= subject%>
    </p>

    <p><strong>contact us at</strong> : <u> <%= website %> </u></p>

    <p>&nbsp;</p>

</body>

</html>
